#home-search-form-autocomplete {
    &:empty {
        display: none;
    }

    li {
        padding: .4em;
        color: #555;
        cursor: pointer;

        span {
            &.fa {
                position: relative;
                top: 1px;
                margin-right: .3em;
            }
            &.highlight {
                color: black;
            }
        }

        &:hover, &.selected  {
            background: #eee;
        }
    }
}
