body {
    > section {
        &.hero {
            flex: 0 1 auto;
        }
        &.section-fullscreen {
            flex: 1 1 auto;
        }
    }

    > .container-fullscreen > section.section-fullscreen {
        flex: 1 1 auto;
    }
}

body, .container-fullscreen {
    padding: 0;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.container-fullscreen {
    background-color: #fcf7ed;
    position: relative;
}

@include tablet {
    .container {
        max-width: 1200px;
    }
}

.small-title {
    font-size: 100%;
    font-variant: small-caps;
    letter-spacing: 1.5px;
    word-spacing: 4px;
    margin-bottom: 0;
}

.alert {
    padding: .2em 0;
    text-align: center;

    &.alert-danger {
        background-color: #E61414;
        color: white;
        strong, a, a:hover, a:active, a:focus {
            background-color: #E61414;
            color: white;
        }
    }

    &.alert-warning {
        background-color: #CC7400;
        color: white;
        strong, a, a:hover, a:active, a:focus {
            background-color: #CC7400;
            color: white;
        }
    }

    &.alert-info {
        background-color: #0054FF;
        color: white;
        strong, a, a:hover, a:active, a:focus {
            background-color: #0054FF;
            color: white;
        }
    }

    a {
        text-decoration: none;
        border-bottom: solid #ddd 1px;

        &:hover {
            border-bottom-color: #fff;
        }
    }
}

form {
    .input, .textarea {
        @include placeholder {
            color: rgba($input-color, 0.6);
        }
    }
}

.cliquable-icon {
    cursor: pointer;
    &:hover {
        color: #1b6d85;
    }
}

.cliquable-icon-nojs {
    cursor: default !important;

    &:hover {
        color: #555555 !important;
    }
}

.modal-body {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.modal-footer .pull-left {
    max-width: 50%;
}

a {
    transition: color .2s ease-in-out;
}
