body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.plan {
    background: url('../img/blue_graph_paper.jpg') repeat;
    margin: 0;
    padding: 20px;
    padding-top: 10px !important;
}


.header, .footer {
    padding-right: 15px;
    padding-left: 15px;
}

.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;

    color: white;
}

.nav-pills li a {
    color: white !important;
}

.nav-pills li:hover a {
    color: #0f0f0f !important;
}

.header .nav-pills li.active a, .header .nav-pills li.active:hover a {
    background-color: #0f0f0f;
    color: white !important;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    text-align: center;
}

@media (min-width: 768px)
{
    .container {
        max-width: 1200px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

@media screen and (min-width: 768px)
{
    .header, .footer {
        padding-right: 0;
        padding-left: 0;
    }

    .header {
        margin-bottom: 30px;
    }

    .jumbotron {
        border-bottom: 0;
    }
}

/* Generic styles */

.well h2 {
    margin-top: 0;
    margin-bottom: 25px;
}

.muted {
    color: #838383;
}

.small-title {
    font-size: 100%;
    font-variant: small-caps;

    letter-spacing: 1.5px;
    word-spacing: 4px;

    margin-bottom: 0;
}

.table-bordered {
    border-radius: 10px !important;
}

footer.footer, footer.footer a {
    color: white !important;
}

/* Fix for text cursor on input groups */

.input-group-addon {
    cursor: default;
}


/* Index quote style */

#homepage-quote {
    width: 60%;
    margin: 30px auto 30px;

    border: none;
}

#homepage-quote p {
    text-align: center;
    font-style: italic;

    color: white;
}

#homepage-quote footer {
    text-align: right;
    font-style: normal;

    color: whitesmoke;
}


/* Routes form styles */

#route-form-part, #route-form-part .input-group {
    width: 100%;
}

.route-options {
    margin-top: 10px;
    color: #565656;
}

.route_main_consign {
    font-size: 1.3em;
}

.route_intermediate_stations {
    font-style: italic;
}


/* User localization */

.cliquable-icon {
    cursor: pointer;
}

.cliquable-icon:hover {
    color: #1b6d85;
}

.cliquable-icon-nojs {
    cursor: default !important;
}

.cliquable-icon-nojs:hover {
    color: #555555 !important;
}

.modal-body {
    margin-top:    50px;
    margin-bottom: 50px;

    text-align: center;
}

#geolocation-modal-selector, #geolocation-modal-error-nether-empty, #geolocation-modal-error-cannot-retrieve {
    display: none;
}

.avatar-in-select {
    display: inline-block;
    margin-right: 15px;
}

.modal-footer .pull-left {
    max-width: 50%;
}


/* Quickest path */

#quickest-path {
    display: none;
}

#quickest-path > p {
    font-weight: bold;
}


/* Network map */

#network_map {
    position: absolute;
    top: 60px;
    left: 0;

    width: 100%;
    height: calc(100% - 60px);

    border-radius: 0;
    border: medium none;
}

.station-label {
    transform-origin: 0% 0%;
    transform: rotate(-38deg) translateY(-10px) translateX(-6px);
}
.station-label.station-label-intersection {
    font-size: 130%;
    font-weight: bolder;
}
.station-label.station-label-main {
    font-size: 160%;
    text-transform: uppercase;
    font-weight: normal;
}
.station-label.label-force-display {
    display: block !important;
}

/* Error pages */

.error_page_img {
    margin-top: 50px;
}

.error_page_img img {
    max-width: 85%;
}

.black_meme {
    background: black;

    border-radius: 10px;

    max-width: 85%;

    margin: 50px auto auto;
    padding-bottom: 10px;

    color: white;
    font-size: 80px;
    text-transform: uppercase;
}

.black_meme p {
    margin-top: 25px;
    margin-bottom: 25px;

    font-weight: bold;
}

.black_meme .head {
    font-size: 80px;
}
.black_meme .foot {
    font-size: 45px;
}

.black_meme img {
    max-width: 60%;
}

/* Bootstrap select */

/*
.bootstrap-select {
    width: 100% !important;
}

.station-selector-between {
    width: 40px !important;
}

.station-selector {
    width: 100% !important;
}
*/