<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{ app.request.basePath }}/favicon.ico">

        <title>{% block main_title %}{% endblock %}ZéPS</title>

        <link href="{{ static('/dist/zeps-gui.min.css') }}" rel="stylesheet" />

        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <section>
            {% if error == 'unreachable' %}
                <div class="alert alert-danger">
                    <strong>L'API de recherche est injoignable.</strong>
                    Il s'agit certainement d'un problème temporaire. Réessayez dans quelques minutes.
                </div>
            {% else %}
                <noscript>
                    <div class="alert alert-warning">
                        <strong>Javascript est désactivé.</strong>
                        Certaines fonctionnalités (plan, géolocalisation...) ne marcheront pas.
                        <a href="http://www.enable-javascript.com/fr/">Cliquez ici pour apprendre comment activer Javascript</a>.
                    </div>
                </noscript>
            {% endif %}
        </section>

        {% block content %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
