{%  extends 'base.html.twig' %}

{% import "_macros.html.twig" as macros %}

{% block main_title %}
    Itinéraire
{% endblock %}

{% block subtitle %}
    {# TODO Reintroduce quote
    {% if quote %}
        <blockquote id="homepage-quote">
            <p>{{ quote.quote }}</p>
            <footer>{{ quote.author }}</footer>
        </blockquote>
    {% endif %}
    #}
{% endblock %}

{% block stylesheets %}
    {% include 'includes/search_box_css.html.twig' %}
{% endblock %}

{% block javascripts %}
    {% include 'includes/search_box_js.html.twig' %}
{% endblock %}

{% block content %}
    <noscript>
        <div class="alert alert-warning">
            <strong>Javascript est désactivé.</strong>
            Certaines fonctionnalités secondaires (géolocalisation...) ne marcheront pas.
            <a href="http://www.enable-javascript.com/fr/">Cliquez ici pour apprendre comment activer Javascript</a>.
        </div>
    </noscript>

    {% if error == 'unreachable' %}
        <div class="alert alert-danger">
            <strong>L'API de recherche est injoignable.</strong>
            Il s'agit certainement d'un problème temporaire. Réessayez dans quelques minutes.
        </div>
    {% endif %}
{% endblock %}
